RewriteEngine on

# ROUTES

# ROUTE users.logout
# URL: users/logout
# PATTERN: ?users=logout
RewriteRule ^users/logout$ index.php?users=logout [L]

# ROUTE users.index
# URL: users
# PATTERN: ?users=index
RewriteRule ^users$ index.php?users=index [L]

# ROUTE users.new
# URL: users/new
# PATTERN: ?users=new
RewriteRule ^users/new$ index.php?users=new [L]

# ROUTE users.create
# URL: users/create
# PATTERN: ?users=create
RewriteRule ^users/create$ index.php?users=create [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
