RewriteEngine on

# ROUTES

# posts.show
# URL: posts/id/slug
# PATTERN: ?posts=show&id=x
RewriteRule ^posts/([1-9][0-9]*)/[a-z0-9][a-z0-9\-]*$ index.php?posts=show&id=$1 [L]

# ROUTE users.login-form
# URL: users/login-form
# PATTERN: ?users=login-form
RewriteRule ^users/login\-form$ index.php?users=login-form [L]

# ROUTE users.login
# URL: users/login
# PATTERN: ?users=login
RewriteRule ^users/login$ index.php?users=login [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
